* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/*for small tablet - inclusive*/
@media only screen and (min-width: 40em) {


}

/*for tablet - inclusive*/
@media only screen and (min-width: 60em) {
}

}



/*for destop - inclusive*/
@media only screen and (min-width: 80em) {



}

