$primary-color: #7cbd18;
$header-color: #F6F6F7;

$font-one: #222222;
$font-two: #888888;

$border-one: #CCCCCC;
$border-two: #222222;

$main-font: 'Sarabun', sans-serif;
$h1-font: 'Oswald', sans-serif;
